* {
    box-sizing: border-box;
}

:root {
    --light: rgb(255, 224, 229);
    --light2: rgb(255, 227, 205);
    --medium: rgb(200, 200, 200);
    --dark: grey;
    --card-background: rgb(255, 170, 184);
    --navtext: white;
    --hover: rgb(181, 181, 248); 
    --hover2: rgb(255, 133, 154);
    --shadow: black;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: var(--light);
}

header {
    padding: 7px;
    text-align: left;
    background-color: var(--light);
    font-family:'Courier New', Courier, monospace;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

h2 {
    text-align: center ;
}



section{
    display: flex;
    justify-content: center;
    padding: 0px;
}

img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    float:left;
    margin-right: 35px;
    margin-left: 20px;
    border: solid var(--hover2) 10px;
    border-radius: 5%;
}

p1 {
    display: inline-block;
    position:relative;
    text-align: left;
    width: 500px;
    margin-top: 0%;

}

footer{
    text-align: center;
}



/* Position the navbar container inside the image */
.container {
  position: relative;
  margin: 0;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: var(--dark);
}

/* Navbar links */
.topnav a {
  float: right;
  color: var(--navtext);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--hover);
  color: var(--shadow);
}

/*banner under header*/
.banner {
    text-align: right;
    min-height: 100px;
    background: url("/images/pink-smoke.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.50;
    position: relative;
    padding: 10px;
}

.aboutme {
    
    justify-content: space-evenly;
}

.contact-me {
    justify-content: space-evenly;
    left:-580px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    position: relative;
    display: flex;
    
}



/* Float four columns side by side */
.column {
    float: right;
    width: 70%;
    padding: 0 10px;
}
  
.row {
    margin: 0 -5px;
 }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}


.verticalLine {
    display: block;
    border-right: thick solid var(--dark);
    height: 300px;
    margin-right: 20px;
    margin-left: 170px;
}

.verticalLine2 {
    display: block;
    border-right: thick solid var(--dark);
    height: 700px;
    margin-right: -1250px;
    margin-left: -170px;
    margin-top: -500px;
}

.verticalLine3 {
    display: block;
    border-right: thick solid var(--dark);
    height: 150px;
    margin-right: -720px;

}

.small-cards {
    position: relative;
    margin: 400px;
    left: -600px;
    height: 10px;
    width: 250px;
}

.work-section {
    margin-bottom: 100px;
}



/* card */
.card-container {
    display: inline-flexbox;
    height: 10px;
    width: 250px;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    position:relative;
    justify-content: space-evenly;
}

.L-card-container {
    display: flex;
    height: 100px;
    width: 800px;
    left: -100px;
    margin-top: 700px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;

}



.card {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--card-background);
    margin: 10px 0;
    position: relative;
    border: solid var(--shadow);
    border-radius: 3%;
    flex-direction: column;
    box-shadow: 0 6px 10px 0 var(--dark);
    transition: background-color .35s ease-in-out;
}



.card:hover {
    background-color: var(--hover);
    cursor: no-drop;
    filter:brightness(.5);
}

.card-title {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid;
    background-color: var(--medium);
    color: var(--shadow);
    opacity: 0.7;
    max-width: 50%;
}

.card-content {
    background: url(/images/ledwall.webp);
    background-size: cover;
    color: transparent;
} 

.card-content-2 {
    background: url(/images/lightstick.jpg);
    background-size: cover;
    background-position: center bottom;
    color: transparent;
} 

.card-content-3 {
    background: url(/images/gaming.png);
    background-position: center;
    background-size: cover;
    color: transparent;
} 

.card-content-4 {
    background: url(/images/robot.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
} 
/* Large card components */


.L-card {
    display: inline-flex;
    height: 300px;
    width: 800px;
    /*margin-right: -300px;
    position:relative;
    flex-direction: column;
    justify-content: center;
    top: -500px;*/
    left: 1000px;
    margin-top: -500px;
    background: url(/images/horiseon.PNG);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 10px;
    position: relative;
    border: solid var(--shadow);
    border-radius: 2%;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 20px 0 var(--dark);
    transition: background-color .35s ease-in-out;
}

.L-card-container:hover {
    filter:brightness(.7);
    cursor: pointer;
}

.L-card-title {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid;
    background-color: var(--light2);
    color: var(--shadow);
    height: 20%;
    max-width:50%;
    opacity: 0.7;
}

.L-card-content {
    background: var(--card-background);

}




.bottom-nav a:hover {
    background-color: var(--hover2);
    color: black;
  }

.bottom-nav a {
    display: inline-block;
    position: relative;
    color: var(--dark);
    padding: 15px 20px;
    text-decoration:underline solid var(--dark);
    font-size: 17px;
    justify-content: center;
    right:-800px;

}



@media screen and (max-width: 768px) {
    
main, nav {
    flex-direction: column;
    background-color: var(--light2);
}

div {
    order: 2;
}

header {
    background: var(--hover);
}

nav, footer {
    background-color: var(--hover);
}

@media screen and (min-width: 992px) {

header {
    background:var(--shadow);
}
}
  

@media screen and (max-width: 576px) {

img {
    background-color: var(--hover);
}
}

}
